@import "tailwindcss";

/* variable for a CSS */
:root {
  --bgColour: rgb(237, 211, 182);
  --fontColour: #171717;
  --font: monospace;
}



body {
  background-color: var(--bgColour);
  color: var(--fontColour);
  font-family: var(--thin);
}
